.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
  }
/* p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
} */
body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* trabajo en el div arriba */
.arriba{
    display: flex;
}

/* trabajo en el div izquierda */
.izquierda{
    width: 40%;
}
h1{
    font-family: 'Fraunces', serif;
    color: #521E4F; 
}
.texto-iz{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
/* trabajo en el div derecha */
.derecha{
    width: 60%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.puntuacion1, .puntuacion2, .puntuacion3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F7F2F8;
    border-radius: 5%;
}
.puntuacion1{
    margin-right: 20%;
}
.puntuacion2{
    margin-right: 10%;
    margin-left: 10%;
}
.puntuacion3{
    margin-left: 20%;
}
.punto{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #521E4F;
    font-weight: bold;
}

/* trabajo en el div abajo */
.abajo{
    display: flex;
}
.opinion1, .opinion2, .opinion3{
    background-color: #521E4F;
    margin: 1%;
    border-radius: 5%;
}
.opinion1{
    margin-top: 2%;
    margin-bottom: 10%;
}
.opinion2{
    margin-top: 4%;
    margin-bottom: 8%;
}
.opinion3{
    margin-top: 8%;
    margin-bottom: 4%;
}
.todo-texto{
    /* background-color: blue; */
    margin: 10%;
}
.persona{
    display: flex;
}
img{
    border-radius: 50%;
    margin-right: 20px;
}
.nombre{
    margin-bottom: -10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
.violeta{
    color: #C9629F;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.texto{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}